**\Content\Boats
**\Construction_VOL1
**\Environment_Set
**\FootstepSound
**\FPWeapon
**\HLOD
**\InfinityBladeEffects
**\LevelAssets
**\LPGenericPropsSet02
**\LPGenericPropsSet04
**\Masters
**\Meshes
**\MS_Grass
**\MSPresets
**\PN_GrassLibrary
**\PN_OpenWorldFoliage
**\StarterContent
**\Stylized_PBR_Nature
**\VehicleVarietyPack
**\VFX_Bundle_2
**\VRSpectator
**\VRTemplate
**\WaterMaterials
**\WaterPlane
Standard_trees/
Source/plants_3d_tmjhcayia/
Source/
Saved/Screenshots/
Saved/Crashes/
Saved/Autosaves/
Content/Boats/
Content/Construction_VOL1/
Content/Environment_Set/
Content/FootstepSound/
Content/FPWeapon/
Content/InfinityBladeEffects/
Content/LPGenericPropsSet02/
Content/LPGenericPropsSet04/
Content/Masters/
Content/MS_Grass/
Content/PN_GrassLibrary/
Content/PN_OpenWorldFoliage/
Content/StarterContent/
Content/Stylized_PBR_Nature/
Content/VehicleVarietyPack/
Content/VFX_Bundle_2/
Content/VRTemplate/
Content/WaterMaterials/
Content/WaterPlane/
Content/VRSpectator/
*.log
Saved/Config/CrashReportClient/
Content/MSPresets/
Content/LevelAssets/
Content/Geometry/
Content/Levels/
Content/HLOD/
